DB_NAME=db
DB_USER=
DB_PASS=
DB_HOST=localhost
DB_PORT=5432

# capturas por minuto
SECONDS=5

# puerto vcl emulador de rtsp
VIDEO_PATH_PORT="rtsp://127.0.0.1:8554/mystream"
VIDEO_PATH_LOCAL=0

# insertar datos en la tabla
INSERT INTO public.horarios_medicion (dia_semana, hora_inicio, hora_fin)
VALUES (3, '09:00:00', '12:00:00');

-- Inserta el horario de Jueves por la tarde (14:00 a 18:00)
INSERT INTO public.horarios_medicion (dia_semana, hora_inicio, hora_fin)
VALUES (3, '14:00:00', '18:00:00');

#insertar lista de camaras
INSERT INTO lista_camaras (nombre_camara, url_rtsp, algoritmo_a_usar, esta_activa)
VALUES ('Mi Webcam de Test', '0', 'person_tracking', true);